.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
agents/**
webview/**
icon.svg
!dist/**
!icon.png
!README.md
!CHANGELOG.md
!package.json